* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: rgb(33, 4, 4);
}

.up {
    border: solid rgb(4, 76, 124) 1px;
}

.plate2 {
    position: relative;
    margin: auto;
    top: 30px;
    box-shadow: 2px 2px 3px rgb(204, 197, 177), -2px -2px 3px rgb(179, 138, 3);
    background-color: rgb(6, 6, 71);
    border-radius: 10px;
    width: 340px;
    height: 165px;
    opacity: 0.3px;
}

.footer {
    margin-top: 25px;
    background-color: rgb(61, 3, 3);
}

#hello {
    opacity: 0.95;
    font-style: oblique;
    font-size: 15px;
    margin-left: 8px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgb(3, 3, 71), -2px -2px 6px blue;
}

#myname {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity: 0.95;
    margin-top: 3px;
    margin-left: 16px;
    font-size: 32px;
    color: white;
    text-shadow: 2px 2px 6px blue, -2px -2px 6px blue;
}

#mydescription {
    margin-left: 6px;
    margin-top: 1px;
    margin-bottom: 10px;
    font-style: oblique;
    font-size: 16px;
    color: rgb(122, 122, 185);
    text-shadow: 2px 1px 4px rgb(24, 143, 121)-1px -1px 2px rgb(136, 13, 13);
}

.rot2 {
    margin-top: 15px;
    margin-left: 10px;
}

.rot1:hover {
    background-color: rgb(105, 62, 6);
}

.rot1 {
    margin: 4px;
    box-shadow: 1px 1px 2px rgb(35, 35, 170), -1px -1px 2px rgb(2, 2, 31);
    border: solid 1px;
    width: 21px;
    height: 21px;
    opacity: 0.8;
    border-radius: 5px;
    padding: 3px;
    color: white;
    background-color: rgb(57, 21, 7);
}

#portfollio {
    opacity: 0.95;
    margin-top: 9px;
    margin-left: 12px;
    font-style: inherit;
    font-size: 23px;
    color: white;
    text-shadow: 2px 2px 4px blue, -2px -2px 6px blue;
}

#mypic {
    position: absolute;
    right: 17px;
    top: 23px;
}

#mypic>img {
    box-shadow: 1px 1px 1px rgb(11, 11, 238), -1px -1px 1px rgb(14, 14, 238);
    border: solid 2px;
    width: 100px;
    height: 110px;
    opacity: 0.8;
    border-radius: 10px;
}

#firstcode {
    margin-left: 20px;
    display: inline-block;
}

#firstcode a {
    opacity: 0.7;
    font-size: 14px;
    margin: 5px;
    color: white;
}

#firstcode a:hover {
    color: rgba(207, 54, 8, 0.85);
}

#skills {
    margin-top: 70px;
    margin-left: 114px;
    opacity: 0.8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: rgb(8, 183, 168);
}

.stacks {
    text-shadow: 1px 1px 1px rgb(80, 30, 1), -1px -1px 1px rgb(103, 32, 2);
    margin-bottom: 6px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: rgb(11, 17, 193);
}

.skillbox {
    box-shadow: 0 4px 5px rgb(2, 47, 132), 0 4px 5px rgb(2, 47, 132);
    margin: auto;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
}

.skillbox>div {
    position: relative;
    box-shadow: 0 14px 15px rgb(0, 0, 11), 0 10px 5px rgb(2, 2, 8);
    border: solid 2px;
    background-color: rgb(243, 238, 238);
    opacity: 0.7;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    border-color: rgb(36, 3, 168);
}

.skillbox>div>img {
    margin-left: 110px;
    opacity: 0.7;
    height: 50px;
    width: 50px;
}

.skillbox>div:hover {
    background-color: rgb(4, 158, 40)
}

#html {
    left: 85px;
    position: absolute;
    opacity: 0.8;
    font-style: oblique;
    font-size: 15px;
    color: rgb(245, 242, 236);
    text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
}

#css {
    right: 120px;
    position: absolute;
    opacity: 0.8;
    font-style: oblique;
    font-size: 15px;
    color: rgb(245, 242, 236);
    text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
}

#javascript {
    left: 83px;
    position: absolute;
    opacity: 0.8;
    font-style: oblique;
    font-size: 15px;
    color: rgb(245, 242, 236);
    text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
}

#react {
    right: 110px;
    position: absolute;
    opacity: 0.8;
    font-style: oblique;
    font-size: 15px;
    color: rgb(245, 242, 236);
    text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
}

#node {
    left: 85px;
    position: absolute;
    opacity: 0.8;
    font-style: oblique;
    font-size: 15px;
    color: rgb(245, 242, 236);
    text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
}

#express {
    right: 105px;
    position: absolute;
    opacity: 0.8;
    font-style: oblique;
    font-size: 15px;
    color: rgb(245, 242, 236);
    text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
}

#deimo {
    text-align: center;
    opacity: 0.8;
    font-style: oblique;
    font-size: 15px;
    color: rgb(231, 157, 10);
    text-shadow: 1px 1px 2px blue, -1px -1px 4px blue;
}

#copywrite {
    text-align: center;
    opacity: 0.8;
    font-style: oblique;
    font-size: 13px;
    color: rgb(231, 157, 10);
    text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
}

.social {
    bottom: 0px;
    text-align: center;
}

.social a img {
    width: 18px;
    height: 18px;
    margin: 5px;
    opacity: 0.75;
}

.social a img:hover {
    opacity: 0.6;
    width: 20px;
    height: 20px;
}

.projectbox {
    box-shadow: 0 4px 5px rgb(2, 47, 132), 0 5px 5px rgb(2, 2, 8);
    background-color: rgb(57, 21, 7);
    margin: auto;
    width: 360px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
}

.projectbox>a>div>img {
    box-shadow: 0 14px 15px rgb(0, 0, 11), 0 10px 5px rgb(2, 2, 8);
    border: solid 2px;
    width: 150px;
    height: 146px;
    opacity: 0.7;
    border-radius: 10px;
    padding: 3px;
    margin: 15px;
    background-color: rgb(2, 67, 110);
}

.projectbox img:hover {
    width: 160px;
    height: 155px;
    background-color: rgb(223, 71, 11);
}

#projhead {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 7px;
    opacity: 0.8;
    text-align: center;
    font-size: 25px;
    color: rgb(48, 241, 228);
    text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
}

#project1 {
    color: rgb(245, 242, 236);
    left: 70px;
    position: absolute;
    opacity: 0.7;
    font-family: Georgia;
    text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
}

#project2 {
    right: 62px;
    position: absolute;
    opacity: 0.7;
    font-family: Georgia;
    color: rgb(245, 242, 236);
    text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
}

#project3 {
    left: 70px;
    position: absolute;
    opacity: 0.7;
    font-family: Georgia;
    color: rgb(245, 242, 236);
    text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
}

#project4 {
    right: 65px;
    position: absolute;
    opacity: 0.7;
    font-family: Georgia;
    color: rgb(245, 242, 236);
    text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
}

#project5 {
    left: 68px;
    position: absolute;
    opacity: 0.8;
    font-family: Georgia;
    color: rgb(245, 242, 236);
    text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
}

#project6 {
    right: 60px;
    position: absolute;
    opacity: 0.7;
    font-family: Georgia;
    color: rgb(245, 242, 236);
    text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
}

#contact1 {
    box-shadow: 0 4px 5px rgb(2, 47, 132), 0 5px 5px rgb(2, 2, 8);
    opacity: 0.7;
    margin: auto;
    background-color: rgb(143, 143, 181);
    height: 690px;
    width: 330px;
}

#inputs {
    text-align: center;
    font-size: 18px;
}

.exper {
    font-family: Georgia;
    text-shadow: 0px 0px 1px blue, -1px -1px 1px blue;
    font-weight: 500;
    text-align: center;
    opacity: 0.6;
    font-size: 18px;
    color: rgb(123, 236, 227);
}

.stackmid {
    font-family: Georgia;
    color: rgb(34, 3, 3);
    font-weight: 500;
    text-align: center;
    font-size: 20px;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px 1px rgb(80, 30, 1), -1px -1px 1px rgb(103, 32, 2);
    margin: 2px;
    text-shadow: 2px 2px 6px rgb(2, 2, 19), -2px -2px 6px blue;
    color: rgb(20, 245, 226);
}

@media only screen and (min-width:400px) and (max-width:515px) {
    #html {
        left: 105px;
    }
    .skillbox {
        width: 360px;
    }
    .projectbox {
        width: 360px;
    }
    #project1 {
        left: 68px;
    }
    #project2 {
        right: 62px;
    }
    #project3 {
        left: 68px;
    }
    #project4 {
        right: 65px;
    }
    #project5 {
        left: 68px;
    }
    #project6 {
        right: 60px;
    }
}

@media only screen and (min-width:720px) {
    .up {
        border: solid green 1px;
    }
    .plate2 {
        position: relative;
        margin: auto;
        top: 30px;
        box-shadow: 2px 2px 3px rgb(204, 197, 177), -2px -2px 3px rgb(179, 138, 3);
        background-color: rgb(6, 6, 71);
        border-radius: 10px;
        width: 650px;
        height: 265px;
        opacity: 0.3px;
    }
    #hello {
        opacity: 0.95;
        font-style: oblique;
        font-size: 33px;
        margin-top: -23px;
        margin-left: 10px;
        margin-bottom: 20px;
        color: white;
        text-shadow: 2px 2px 4px rgb(3, 3, 71), -2px -2px 6px blue;
    }
    #myname {
        opacity: 0.95;
        margin-top: 0px;
        margin-left: 20px;
        font-style: inherit;
        font-size: 74px;
        color: white;
        text-shadow: 2px 2px 6px blue, -2px -2px 6px blue;
    }
    #mydescription {
        margin-left: 10px;
        margin-top: -17px;
        margin-bottom: 10px;
        font-style: oblique;
        font-size: 33px;
        color: rgb(122, 122, 185);
        text-shadow: 2px 1px 4px rgb(24, 143, 121)-1px -1px 2px rgb(136, 13, 13);
    }
    .rot2 {
        margin-top: 15px;
        margin-left: 10px;
    }
    .rot1:hover {
        background-color: rgb(103, 8, 27);
    }
    .rot1 {
        margin: 4px;
        text-decoration: none;
        box-shadow: 1px 1px 2px rgb(35, 35, 170), -1px -1px 2px rgb(2, 2, 31);
        border: solid 1px;
        width: 21px;
        height: 21px;
        opacity: 0.8;
        border-radius: 5px;
        padding: 7px;
        color: white;
        background-color: rgb(224, 156, 66);
    }
    #portfollio {
        opacity: 0.95;
        margin-top: 9px;
        margin-left: 12px;
        font-style: inherit;
        font-size: 35px;
        color: white;
        text-shadow: 2px 2px 4px blue, -2px -2px 6px blue;
    }
    #mypic {
        position: absolute;
        right: 40px;
        top: 37px;
    }
    #mypic>img {
        box-shadow: 1px 1px 1px rgb(11, 11, 238), -1px -1px 1px rgb(14, 14, 238);
        border: solid 2px;
        width: 170px;
        height: 170px;
        opacity: 0.8;
        border-radius: 10px;
    }
    #firstcode {
        margin-left: 20px;
        display: inline-block;
    }
    #firstcode a {
        opacity: 0.9;
        font-size: 20px;
        margin: 5px;
        color: rgb(220, 226, 235);
    }
    #firstcode a:hover {
        color: rgba(207, 54, 8, 0.85);
    }
    #skills {
        text-shadow: 1px 1px 1px rgb(219, 242, 9), -1px -1px 1px rgb(2, 61, 143);
        margin-top: 70px;
        margin-left: 250px;
        opacity: 0.8;
        font-style: oblique;
        font-size: 30px;
        color: rgb(20, 245, 226);
    }
    .skillbox {
        box-shadow: 0 14px 15px rgb(0, 0, 11), 0 10px 5px rgb(2, 2, 8);
        background-color: rgb(85, 28, 5);
        margin: auto;
        width: 650px;
        display: flex;
        flex-wrap: wrap;
    }
    .skillbox>div>img {
        margin-left: 250px;
        opacity: 0.7;
        height: 90px;
        width: 50px;
    }
    .skillbox>div>img:hover {
        background-color: rgb(56, 185, 9)
    }
    #html {
        left: 170px;
        position: absolute;
        opacity: 0.8;
        font-style: oblique;
        font-size: 21px;
        color: rgb(245, 242, 236);
        text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
    }
    #css {
        right: 170px;
        position: absolute;
        opacity: 0.8;
        font-style: oblique;
        font-size: 21px;
        color: rgb(245, 242, 236);
        text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
    }
    #javascript {
        left: 170px;
        position: absolute;
        opacity: 0.8;
        font-style: oblique;
        font-size: 15px;
        color: rgb(245, 242, 236);
        text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
    }
    #react {
        right: 170px;
        position: absolute;
        opacity: 0.8;
        font-style: oblique;
        font-size: 21px;
        color: rgb(245, 242, 236);
        text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
    }
    #node {
        left: 170px;
        position: absolute;
        opacity: 0.8;
        font-style: oblique;
        font-size: 21px;
        color: rgb(245, 242, 236);
        text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
    }
    #express {
        right: 170px;
        position: absolute;
        opacity: 0.8;
        font-style: oblique;
        font-size: 21px;
        color: rgb(245, 242, 236);
        text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
    }
    #deimo {
        text-align: center;
        opacity: 0.8;
        font-style: oblique;
        font-size: 21px;
        color: rgb(231, 157, 10);
        text-shadow: 1px 1px 3px blue, -1px -1px 4px blue;
    }
    #copywrite {
        opacity: 0.8;
        font-size: 19px;
        color: rgb(231, 157, 10);
        text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
    }
    .social {
        bottom: 0px;
        text-align: center;
    }
    .projectbox {
        box-shadow: 0 14px 15px rgb(0, 0, 11), 0 10px 5px rgb(2, 2, 8);
        background-color: rgb(85, 28, 5);
        margin: auto;
        width: 650px;
        margin: auto;
        flex-wrap: wrap;
        display: flex;
        align-content: center;
    }
    .projectbox>a>div>img {
        box-shadow: 0 14px 15px rgb(0, 0, 11), 0 10px 5px rgb(2, 2, 8);
        border: solid 2px;
        width: 270px;
        height: 250px;
        opacity: 0.7;
        border-radius: 10px;
        padding: 3px;
        margin: 27px;
        background-color: rgb(2, 67, 110);
    }
    .projectbox img:hover {
        width: 240px;
        height: 200px;
        background-color: rgb(223, 71, 11);
    }
    #projhead {
        margin: 7px;
        opacity: 0.8;
        text-align: center;
        font-style: oblique;
        font-size: x-large;
        color: rgb(48, 241, 228);
        text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
    }
    #project1 {
        opacity: 0.7;
        left: 150px;
        font-family: Georgia;
        font-size: 21px;
        color: rgb(245, 242, 236);
        text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
    }
    #project2 {
        font-size: 21px;
        right: 130px;
        position: absolute;
        opacity: 0.7;
        font-family: Georgia;
        color: rgb(245, 242, 236);
        text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
    }
    #project3 {
        left: 150px;
        position: absolute;
        opacity: 0.7;
        font-family: Georgia;
        font-size: 21px;
        color: rgb(245, 242, 236);
        text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
    }
    #project4 {
        right: 130px;
        position: absolute;
        opacity: 0.7;
        font-family: Georgia;
        font-size: 21px;
        color: rgb(245, 242, 236);
        text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
    }
    .skillbox>div {
        position: relative;
        box-shadow: 0 14px 15px rgb(0, 0, 11), 0 10px 5px rgb(2, 2, 8);
        border: solid 2px;
        width: 1000px;
        height: 320px;
        background-color: rgb(243, 238, 238);
        opacity: 0.7;
        border-radius: 10px;
        padding: 10px;
        margin: 30px;
        border-color: rgb(36, 3, 168);
    }
    #project5 {
        left: 150px;
        position: absolute;
        opacity: 0.7;
        font-family: Georgia;
        font-size: 21px;
        color: rgb(245, 242, 236);
        text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
    }
    #project6 {
        right: 130px;
        position: absolute;
        opacity: 0.7;
        font-family: Georgia;
        font-size: 21px;
        color: rgb(245, 242, 236);
        text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
    }
    #contact1 {
        box-shadow: 0 14px 15px rgb(0, 0, 11), 0 10px 5px rgb(2, 2, 8);
        opacity: 0.7;
        margin: auto;
        background-color: rgb(143, 143, 181);
        height: 800px;
        width: 650px;
    }
    #inputs {
        text-align: center;
        color: white;
        font-size: 24px;
    }
    .exper {
        color: rgb(123, 236, 227);
        text-align: center;
        opacity: 0.8;
        font-size: 25px;
        font-family: Georgia;
        text-shadow: 1px 1px 3px blue, -1px -1px 6px blue;
    }
    h3 {
        margin-left: 70px;
        opacity: 0.8;
        font-family: Georgia;
        font-size: 30px;
        color: rgb(20, 245, 226);
    }
    .social a img {
        width: 30px;
        height: 30px;
        margin: 5px;
        opacity: 0.75;
    }
    .footer {
        margin-top: 30px;
        background-color: rgb(82, 4, 4);
    }
}